<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.desperu.independentnews">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".IndependentNews"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <!-- MAIN ACTIVITY -->
        <activity android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FIRST START ACTIVITY -->
        <activity android:name=".ui.firstStart.FirstStartActivity"
            android:screenOrientation="portrait" />

        <!-- SHOW ARTICLE ACTIVITY -->
        <activity android:name=".ui.showArticle.ShowArticleActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/ShowArticleTheme"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true">

            <!-- Check that's used... -->
            <intent-filter android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*bastamag.net" />
                <data android:host="*reporterre.net" />
                <data android:host="*multinationales.org" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <!-- SOURCES ACTIVITY -->
        <activity android:name=".ui.sources.SourcesActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />

        <!-- SHOW IMAGES ACTIVITY -->
        <activity android:name=".ui.showImages.ShowImagesActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/ShowImages" />

        <!-- SETTINGS ACTIVITY -->
        <activity android:name=".ui.settings.SettingsActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/SettingsTheme" />

        <!-- UPDATE DATA RECEIVER -->
        <receiver android:name=".service.alarm.UpdateDataReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- NOTIFICATION RECEIVER -->
        <receiver android:name=".service.alarm.NotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>